
body { 
 font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
 font-size: small; 
 background: #fff; 
} 

/*
 Styles Map div tag
*/
#map { 
 width: 100%; 
 height:41.5rem; 
 border: 1px solid #000; 
}
